.Header {
   border-bottom: 1px solid #646464;
   padding: 1.2em 2em;
   display: flex;
   align-items: center;
   background-color: #202020;
   position: sticky;
   top: 0;
}

.Header h1 {
   display: inline-block;
   font-size: 1.3em;
   font-weight: 600;
   margin-right: 2em;
}

.Header ul > li {
   display: inline-block;
   margin-right: 1.5em;
}

.react-clr {
   color: #61DAFB;
}

.react-img {
   background-image: url('../assets/logo192.png');
   background-repeat: no-repeat;
   background-size: cover;
   width: 1.5em;
   height: 1.5em;
   margin-right: .25em;
}